@import '/_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css';

.navmenu-icon {
    display: none;
}

* {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
    display: none;
}

.main {
    min-height: calc(100dvh);
    color: var(--neutral-foreground-rest);
    align-items: stretch !important;
}

.body-content {
    align-self: stretch;
    height: calc(100dvh) !important;
    display: flex;
}

.content {
    padding: 0.5rem 1.5rem;
    align-self: stretch !important;
    width: 100%;
}

footer {
    background: var(--neutral-layer-4);
    color: var(--neutral-foreground-rest);
    align-items: center;
    padding: 10px 10px;
}

footer a {
    color: var(--neutral-foreground-rest);
    text-decoration: none;
}

footer a:focus {
    outline: 1px dashed;
    outline-offset: 3px;
}

footer a:hover {
    text-decoration: underline;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

.loading-container.dark-theme {
    background-color: #1f1f1f;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.dark-theme .loading-spinner {
    border-color: #0078d4;
    border-top-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#blazor-error-ui {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff5252;
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#blazor-error-ui .reload {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 1rem;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    float: right;
    margin-right: 1rem;
    font-weight: bold;
}